@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to bottom right, #023e8a, #0096c7, #48cae4);
    background-size: cover;
    height: 100vh;
    display: flex;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
}
.navbar {
    background-color: #a8dadc;
    min-width: 100vw;
}

.content-wrap {
    padding-bottom: 1.5rem; 
    height : 75vh;
}

.schedule {
    height : 75vh;
}

#caousel {
    max-height : 75vh;
    max-width: 100%; 
}

.v-carousel {
    max-height : 700px;
    max-width: 100%;
}

:root {
    --marquee-width: 100vw;
    --marquee-height: 10vh;
    --marquee-elements-displayed: 1;
    --marquee-element-width: calc(var(--marquee-width)/var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements)*8s); 
    --footer-color: #03045e;
}

.marquee {
    position: absolute;
    bottom: 0;
    width: var(--marquee-width);
    height: var(--marquee-height);  
    background-color: var(--footer-color);
    color : white;
    overflow : hidden;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 15rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, var(--footer-color) 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, var(--footer-color) 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display : flex;
    align-items: center;
    animation : scrolling var(--marquee-animation-duration) linear infinite;
}

.news {
    color: #48cae4;
    font-weight: 800;
}

@keyframes scrolling {
    0% { transform : translateX(0); }
    100% { 
        transform : translateX(
            calc(
                -1*var(--marquee-element-width)*var(--marquee-elements)
            )
        ); 
    }
}

.marquee-content li {
    flex-shrink: 0;
    width: var(--marquee-element-width);
    text-align: center;
    font-size: 2.5rem;
    white-space: nowrap;
}

/* table tbody { height:100px; overflow:auto; } */
table thead {
    text-align: center;
}

/* #wrapper {
    display: flex;
} */